<!DOCTYPE html>
<html>
<head>
  <style>
  </style>
</head>
<body>

  <h1>Review Content</h1>


  <form method="POST" action="/input_info">
    <h3>Objective: <input type ="text" name="objective"></h3>
    <h3>Question: <input type = "text" name="question"></h3>
    <h3>Answer: <input type = "text" name="answer"></h3>
    <input type = "submit">
  </form>

</body>

</html>
